/*
 * This is the style for the header 
*/
.header {
	position: sticky;
	position: -webkit-sticky;
  top: 0;
	text-align: center;
	padding-top: 2rem;
	background: #000;
	font-size: 1.75rem;
}

.button {
	display: inline-block;
	margin-left: 2rem;
	margin-right: 2rem;
	border: none;
	color: #fff;
	background: #000;
	text-decoration: none;
}

.button:hover {
	text-decoration: underline;
}

/*
 * This is the style for the links subpage.
*/
.profile {
	margin-bottom: 3rem;
}

.profile-picture {
	display: block;
	margin: auto;
	width: 25rem;
	height: 25rem;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-radius: 50%;
	border: 0.5rem double white;
}

.profile-name {
	font-size: 1.9rem;
}

.profile-description {
	font-size: 1.5rem;
}

.logo {
	width: 4rem;
	height: 4rem;
	margin-left: 1rem;
	margin-top: 1rem;
	margin-right: 0.5rem;
	margin-bottom: 0.5rem;
	display: inline-block;
}

.link {
	color: #000;
}

.area {
	display: block;
	margin: auto;
	border: 0.25rem double white;
	width: 20%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	border-radius: 0.125rem;
	text-align: center;
}

.test {
	display: inline-block;
}

.content {
	text-align: center;
	padding-top: 2rem;
	font-size: 1.5rem;
}

.project {
	width: 20%;
	margin: auto;
	border: 2px solid white;
	margin-bottom: 2rem;
}

body {
	background: #000;
	color: #fff;
}

.footer {
	text-align: center;
}

